import(ggplot2)
importFrom(dplyr, all_of)
importFrom(dplyr, crossing)
importFrom(dplyr, filter)
importFrom(dplyr, mutate)
importFrom(dplyr, select)
importFrom(emmeans, emmeans)
importFrom(rlang, .data)
exportPattern("^[[:alpha:]]+")
